.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Animated-Header
  {
    font-size: clamp(1rem, 4rem, 3rem);
    background-image: linear-gradient(
     -210deg,
     #0ccece 0%,
     #1fec18 30%,
     #133288 60%,
     #41a841 100%
   );
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
   margin: 0;
   text-shadow: 1px 0.1px 3px #06fbde4c;
  }
 
 @keyframes textclip {
   to {
     background-position: 200% top;
   }
 }

.App-link {
  color: #61dafb;
}

.Socials-header {
  color:#085c5c;
  text-shadow: 1px 0.1px 1px #258989;
  font-size: clamp(0.8rem, 2rem, 1.5rem);
}

.Socials-list {
  display: flex;
  color:#085c5c;
  text-shadow: 1px 0.1px 1px #258989;
  list-style-type: none;
  gap: 1rem;
  padding-left: 0;
  justify-content: center;
  margin: 0;
}

.Socials-list a {
  color:#085c5c;
}

.Socials-list :visited {
  color:#085c5c;
} 

.Socials-list :hover {
  color:#1cab91;
  text-shadow: 1px 0.1px 15px #99e2f6;
}