@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

* {
  font-family: "Unbounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.animated {
  background-image: linear-gradient(
    -210deg,
    #0ccece 0%,
    #1fec18 30%,
    #133288 60%,
    #41a841 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-shadow: 1px 0.1px 3px #0957484c;
}
@keyframes textclip {
  to {
    background-position: 200% top;
  }
}

#socials-header {
  text-shadow: 1px 0.1px 1px #258989;
}

.icons :visited {
  color: #085c5c;
}

.icons :hover {
  color: #1cab91;
  text-shadow: 1px 0.1px 15px #99e2f6;
}

.scroll-down {
  transform: translateX(-50%);
  animation: jump 1.7s infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-20px);
  }
}

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-controls {
  margin-bottom: 1rem;
}

.pdf-controls button {
  margin: 0 0.5rem;
}

.pdf-content {
  max-width: 100%;
  overflow-x: auto;
}

.animated-background {
  background-image: linear-gradient(
    -90deg,
    #6170f8c9,
    #1026f0c9,
    #581fdec2,
    #8f65f0d0,
    #c265f0d0,
    #eb65f0c9,
    #ff88f9a4
  );
  background-size: 200% auto;
  animation: groovy 12s ease infinite;
  text-shadow: 1px 0.1px 3px #0957484c;
}

@keyframes groovy {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}