@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

/* Animations */
.animate-waving {
    transform: rotate(-25deg);
    text-shadow: 1px 1px 5px black;
    animation: waving 2s ease-in-out infinite;
}

@keyframes waving {
   0% {
    transform: rotate(-25deg);
   }
   50% {
    transform: rotate(0deg);
   }
   100% {
    transform: rotate(-25deg);   
   }
}